<!DOCTYPE html>
<html lang="fr">
<head th:replace="fragments :: header">
<body>
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">

<body>
<div th:replace="fragments :: navbarResto"/>

<h2 style="text-align:center;color:white;"> Page de modification de la reservation </h2>

<form th:action="@{/restaurateur/reservation/updateVisitor}" method="post" th:object="${visitors}"
      style="width:500px; margin: 0 auto;color:white;">
    <input type="hidden" th:field="*{id}">
    <hr>
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Prénom :</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{firstname}" class="form-control">
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nom de Famille :</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{lastname}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email :</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{email}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Date :</label>
            <div class="col-sm-8">
                <input type="date" th:field="*{date}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Téléphone :</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{phone}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Heure :</label>
            <div class="col-sm-8">
                <input type="time" step="1" th:field="*{time}" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre de couverts :</label>
            <div class="col-sm-8">
                <input type="number" th:field="*{nbcouverts}" class="form-control">
            </div>
        </div>


        <div class="form-group row">
            <label for="restaurant" class="col-sm-4 col-form-label">Restaurant :</label>
            <div class="col-sm-8">
                <select th:field="*{resto}" id="restaurant" class="form-control">
                    <option th:each="Restaurant: ${restaurants}" th:value="${Restaurant.name}"
                            th:text="${Restaurant.name}">
                    </option>
                </select>

                <!--<input type="text" th:field="*{restaurant}" class="form-control">-->
            </div>
        </div>

        <div class="form-group row" style="padding-left:200px;">
            <button type="submit" class="btn btn-primary m-2"> Confirmer</button>
        </div>

    </div>
</form>
</div>
</body>
</html>