<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Liste des réservations </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
    <link rel="stylesheet" th:href="@{/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/solid.min.css}">

</head>


<img id="banner" th:src="@{/chefs.png}"/>


<body>

<div  >
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;" >
        <ul class="nav navbar-nav " style="padding-left:300px" >
            <li class="nav-item"><a class="nav-link" th:href="@{/login}"><i class="fa fa-user-plus"></i> Connexion  </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/user/create}"><i class="fa fa-user-plus"></i>  Nouvel utilisateur </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/user/list}"><i class="fa fa-user-plus"></i>  Utilisateurs </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/restaurant/list}"><i class="fa fa-user-plus"></i>  Restaurants </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/reservation/list}"><i class="fa fa-user-plus"></i> Réservations  </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/pays/list}"><i class="fa fa-user-plus"></i> Pays   </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/villes/list}"><i class="fa fa-user-plus"></i>  Villes </a></li>
        </ul>

    </nav>

</div>

<h1 style="text-align:center; color:white;"> Liste des réservations  </h1>


<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div class="tableau">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>

            <th> Client</th>
            <th> Restaurant</th>
            <th> Date </th>
            <th> Heure </th>
            <th>Mise à jour </th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="Reservation: ${reservations}">
            <tr>
                <td>[[${Reservation.client}]]</td>
                <td>[[${Reservation.restaurant}]]</td>
                <td>[[${Reservation.date}]]</td>
                <td>[[${Reservation.time}]]</td>
                <td>
                    <a th:href="@{'/admin/reservation/update/' + ${Reservation.id}}">edit</a>

                </td>
                <td>
                    <a th:href="@{'/admin/reservation/delete/' + ${Reservation.id}}">delete</a>
                </td>

            </tr>
        </th:block>
        </tbody>
    </table>
    <div class="form-group row " style="padding-left:450px;">
        <button type="button" class="btn btn-secondary m-2" onclick="redirectForm()" style="color:black;">  Rajouter une réservation </button>
    </div>
</div>


<script type="text/javascript">
    function redirectForm(){
        window.location ="[[@{/users/new}]]";
    }
</script>

</body>
</html>l>