<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
</head>

<body>


<div th:replace="fragments :: navbarResto"/>

<h2 style="text-align:center;color:white;"> Page de modification restaurant </h2>

<form th:action="@{/restaurateur/pays/update}" method="post" th:object="${pays}" style="width:500px; margin: 0 auto;color:white;">
  <input type="hidden" th:field="*{id}">
  <hr>
  <div class="border border-secondary rounded p-3">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Nom du pays:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{nom}" class="form-control">
      </div>
    </div>
  </div>

    <div class="form-group row" style="padding-left:200px;">
      <button type="submit"  class="btn btn-primary m-2"> Inscription</button>
      <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()" style="color:black;"> retour</button>
    </div>

  </div>
</form>
</div>

</body>
</html>>