<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">

<body>
<div th:replace="fragments :: navbarUser"/>

<h1 style="text-align:center; color:white;"> Liste des réservations </h1>


<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

<div class="tableau">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>

            <th> Client</th>
            <th> Restaurant</th>
            <th> Date</th>
            <th> Heure</th>
            <th> Nombre de couverts</th>
            <th> Mise à jour</th>
            <th> Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="Reservation: ${reservations}">
            <td>[[${Reservation.user}]]</td>
            <td>[[${Reservation.restaurant}]]</td>
            <td>[[${Reservation.date}]]</td>
            <td>[[${Reservation.time}]]</td>
            <td>[[${Reservation.nbcouverts}]]</td>
            <td>
                <a th:href="@{'/user/reservation/update/' + ${Reservation.id}}">edit</a>

            </td>
            <td>
                <a th:href="@{'/user/reservation/delete/' + ${Reservation.id}}">delete</a>
            </td>
            </tr>
        </th:block>

        </tbody>
    </table>
    <div class="form-group row " style="padding-left:450px;">
        <a th:href="@{/user/reservation/create}">
            <button type="button" class="btn btn-secondary m-2" style="color:black;"> Rajouter une réservation</button>
        </a>
    </div>
</div>


<script type="text/javascript">
    function redirectForm() {
        window.location = "[[@{/user/reservation/create}]]";
    }
</script>

</body>
</html>