<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">


<body>

<img id="banner" th:src="@{/chefs.png}"/>



<h2 style="text-align:center;color:white;"> Page de connexion   </h2>

<div>
    <div th:if="${loginError}" class="alert alert-danger text-center">Mauvais nom d'utilisateur ou mot de passe</div>
    <form th:action="@{/login}" method="post" style="width:500px; margin: 0 auto;color:white;">
        <hr>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="username"  placeholder="Nom d'utilisateur" id="username">
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Mots de passe">
            </div>
        </div>
        <div class="form-group row " style="padding-left:150px;">
            <button type="submit" name="login" class="btn btn-warning"> Se connecter </button>
            <button type="button" class="btn btn-secondary m-2" onclick="redirectForm()" style="color:black;">  S'inscrire </button>
        </div>

    </form>
</div>

<script type="text/javascript">
    function redirectForm(){
        window.location ="[[@{/register}]]";
    }
</script>

</body>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</html>

