<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>


<body>
<div th:replace="fragments :: navbarNotLogged"></div>


<div th:if="${messageErreur}" class="alert alert-danger text-center">
    [[${messageErreur}]]
</div>
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Mon compte</h2>
            <p>Se connecter</p>
        </div>
        <div th:if="${loginError}" class="alert alert-danger text-center">Mauvais nom d'utilisateur ou mot de passe</div>

        <form th:action="@{/login}" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="username" class="form-control" id="username" placeholder="Nom d'utilisateur" >
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Mot de passe" >
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0 "><button type="submit" name="login">Se connecter</button></div>
            </div>
        </form>
        <br>
        <div><a th:href="@{/forgotPassword/reset}"><button class="forgotPassword"> Mot de passe oublié ?</button></a></div>

    </div>
</section>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>

