
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">


<body>


<h2 style="text-align:center;color:white;" >Nouveau mot de passe</h2>
<div>
    <p style="text-align:center;color:white;" >
        Encodez votre nouveau mot de passe
    </p>
</div>
<div th:if="${messageErreur}" class="alert alert-danger text-center">
    [[${messageErreur}]]
</div>
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>

<form th:action="@{/forgotPassword/reset_password}" method="post" style="width:500px; margin: 0 auto;color:white;">
    <hr>
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="hidden" class="form-control" name="token"   th:value="${token}"/>
            </div>
        </div>
    </div>
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="password" class="form-control" name="password"  placeholder="Nouveau mot de passe" id="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="password" class="form-control" name="password2"  placeholder="Confirmez mot de passe" id="password2">
            </div>
        </div>

    </div>

    <div class="form-group row " style="padding-left:150px;">
        <button type="submit" name="envoyer" class="btn btn-warning"> Envoyer </button>
    </div>
</form>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>



</html>

