<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> Rajout d'un pays </title>
    <!-- ---------------------------------------- Bootstrap --------------------------------- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- ---------------------------------------- CSS --------------------------------------- -->
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
    <link rel="stylesheet" th:href="@{/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/solid.min.css}">

</head>
<img id="banner" th:src="@{/chefs.png}"/>
<body>

<div  >
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;" >
        <ul class="nav navbar-nav " style="padding-left:300px" >
            <li class="nav-item"><a class="nav-link" th:href="@{/login}"><i class="fa fa-user-plus"></i> Connexion  </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/user/create}"><i class="fa fa-user-plus"></i>  Nouvel utilisateur </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/user/list}"><i class="fa fa-user-plus"></i>  Utilisateurs </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/restaurant/list}"><i class="fa fa-user-plus"></i>  Restaurants </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/reservation/list}"><i class="fa fa-user-plus"></i> Réservations  </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/pays/list}"><i class="fa fa-user-plus"></i> Pays   </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/villes/list}"><i class="fa fa-user-plus"></i>  Villes </a></li>
        </ul>

    </nav>

</div>


<h1 style="text-align:center; color:white;"> Ajouter un restaurant  </h1>

<div >

    <form th:action="@{/admin/restaurant/create}" method="post" th:object="${resto}" style="width:500px; margin: 0 auto;color:white;">

        <hr>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nom du restaurant :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nom}" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Ville :</label>
                <div class="col-sm-8">
                    <select th:field="*{ville}">
                        <option th:each="ville: ${villes}" th:value="${ville.id}" th:text="${ville.nom}">${ville.nom}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Adresse :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{adress}" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Places :</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{nbPlace}" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Jour d'ouverture :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{openingDay}" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{email}" class="form-control" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">telephone :</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{telephone}" class="form-control" >
                </div>
            </div>

            <div class="form-group row" style="padding-left:200px;">
                <button type="submit"  class="btn btn-primary m-2"> Enregistrer</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()" style="color:black;"> retour</button>
            </div>

        </div>
    </form>
</div>

</body>
</html>