<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments :: header">
</head>


<body>

<div th:replace="fragments :: navbarResto"/>

<h2 style="text-align:center;color:white;"> Page Restaurateur </h2>
<br>
<div class="tableau">
<table style="margin-left:350px;background-color:black;text-align:center;">
    <tr style="color:white;">
        <th><p>Restaurants </p></th>
        <th><p>Utilisateurs</p></th>
        <th><p>Inscription</p></th>


    </tr>
    <tr>
        <td>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width:250px">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8" style="padding-left:30px;">
                                <div class="float-center"><img th:src="@{/chefs.png}" alt="Restaurant"
                                                               titre="Restaurant" height="200px" width="200px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-primary list-group-item list-group-item-action">
                        <div class="row">
                            <div class="float-sm-8">
                                <a th:href="@{/restaurateur/restaurant/list}"><p class="">Restaurant </p></a>
                                <hr>
                                <p style="text-align:left;color:black;"> Cliquez ici pour avoir la liste des
                                    restaurants </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width:250px">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-sm-8" style="padding-left:40px;">
                                <div class="float-sm-center"><img th:src="@{/drinks.jpg}" alt="E-tickets"
                                                                  titre="E-tickets" height="200px" width="200px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-primary list-group-item list-group-item-action">
                        <div class="row">
                            <div class="float-sm-8">
                                <a th:href="@{/restaurateur/user/list}"><p class=""> Utilisateur </p></a>
                                <hr>
                                <p style="text-align:left;color:black;"> Cliquez ici pour avoir la liste des
                                    utilisateurs </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </td>
        <td>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width:250px">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8" style="padding-left:40px;">
                                <div class="float-sm-center"><img th:src="@{/reservation.jpg}" alt="E-tickets"
                                                                  titre="E-tickets" height="200px" width="200px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-primary list-group-item list-group-item-action">
                        <div class="row">
                            <div class="float-sm-8">
                                <a th:href="@{/restaurateur/user/create}"><p class=""> Inscription </p></a>
                                <hr>
                                <p style="text-align:left;color:black;"> Cliquez ici pour inscrire un nouvel
                                    utilisateur </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>


    </tr>

    <tr style="color:white;">
        <th style="padding-top:30px"><p> listes des réservations </p></th>
        <th style="padding-top:30px"><p> Liste des villes </p></th>
    </tr>

    <tr>
        <td>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width:250px">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8" style="padding-left:40px;">
                                <div class="float-sm-center"><img th:src="@{/reservation.jpg}" alt="E-tickets"
                                                                  titre="E-tickets" height="200px" width="200px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-primary list-group-item list-group-item-action">
                        <div class="row">
                            <div class="float-sm-8">
                                <a th:href="@{/restaurateur/reservation/list}"><p class=""> Réservation </p></a>
                                <hr>
                                <p style="text-align:left;color:black;"> Cliquez ici pour afficher la liste des
                                    réservations </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div class="col-sm-4">
                <div class="card text-white bg-primary mb-3" style="width:250px">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8" style="padding-left:40px;">
                                <div class="float-sm-center"><img th:src="@{/reservation.jpg}" alt="E-tickets"
                                                                  titre="E-tickets" height="200px" width="200px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item-primary list-group-item list-group-item-action">
                        <div class="row">
                            <div class="float-sm-8">
                                <a th:href="@{/restaurateur/villes/list}"><p class=""> Villes </p></a>
                                <hr>
                                <p style="text-align:left;color:black;"> Cliquez ici pour afficher la liste des
                                    villes </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>


    </tr>

</table>
</div>

<br><br>


</body>
</html>