<!DOCTYPE html>

<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">

<body>

<div th:replace="fragments :: navbarAdmin"/>

<h2 style="text-align:center;color:white;"> Ajouter une reservation </h2>

<div>

    <form th:action="@{/admin/reservation/create}" method="post" th:object="${reservations}"
          style="width:500px; margin: 0 auto;color:white;">
        <hr>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label for="user" class="col-sm-4 col-form-label">Utilisateur :</label>
                <div class="col-sm-8">
                    <select th:field="*{user}" id="user" class="form-control">
                        <option th:each="User: ${users}" th:value="${User.username}"
                                th:text="${User.username}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="restaurant" class="col-sm-4 col-form-label">Restaurant :</label>
                <div class="col-sm-8">
                    <select th:field="*{restaurant}" id="restaurant" class="form-control">
                        <option th:each="Restaurant: ${restaurants}" th:value="${Restaurant.name}"
                                th:text="${Restaurant.name}">
                        </option>
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date:</label>
                <div class="col-sm-8">
                    <input type="date" th:field="*{date}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Heure :</label>
                <div class="col-sm-8">
                    <input type="time" th:field="*{time}" step="1" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nombre de couverts :</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{nbcouverts}" class="form-control">
                </div>
            </div>

            <div class="form-group row" style="padding-left:200px;">
                <button type="submit" class="btn btn-primary m-2"> Valider</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()" style="color:black;">
                    retour
                </button>
            </div>

        </div>
    </form>
</div>


<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/}]]";
    }
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>