<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--  Fragment header  -->

<head th:fragment="header">
    <title>Resthony</title>
    <!-- ---------------------------------------- Bootstrap --------------------------------- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ---------------------------------------- CSS --------------------------------------- -->
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
    <link rel="stylesheet" th:href="@{/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/solid.min.css}">
</head>

<!-- Différentes navBar -->

<!-- Pas loggé -->
<body>
<div th:fragment="navbarNotLogged">
    <img id="banner" th:src="@{/chefs.png}"/>
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;">
        <ul class="nav navbar-nav " style="padding-left:300px">
            <li class="nav-item"><a class="nav-link" th:href="@{/user}"><i class="fa fa-user-plus"></i> Accueil </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user/reservation/list}"><i class="fa fa-user-plus"></i> Mes
                réservations </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user/profil}"><i class="fa fa-user-plus"></i> Mon
                profil </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fa fa-user-plus"></i> Déconnexion
            </a></li>
        </ul>
    </nav>
</div>

<!-- User -->
<div th:fragment="navbarUser">
    <img id="banner" th:src="@{/chefs.png}"/>
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;">
        <ul class="nav navbar-nav " style="padding-left:300px">
            <li class="nav-item"><a class="nav-link" th:href="@{/user}"><i class="fa fa-user-plus"></i> Accueil </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user/reservation/list}"><i class="fa fa-user-plus"></i> Mes
                réservations </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user/profil}"><i class="fa fa-user-plus"></i> Mon
                profil </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fa fa-user-plus"></i> Déconnexion
            </a></li>
        </ul>
    </nav>
</div>

<!-- Admin -->
<div th:fragment="navbarAdmin">
    <img id="banner" th:src="@{/chefs.png}"/>
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;">
        <ul class="nav navbar-nav " style="padding-left:300px">
            <li class="nav-item"><a class="nav-link" th:href="@{/admin}"><i class="fa fa-user-plus"></i> Accueil </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/user/list}"><i class="fa fa-user-plus"></i>
                Utilisateurs </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/admin/reservation/list}"><i
                    class="fa fa-user-plus"></i> Réservations </a></li>

            <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fa fa-user-plus"></i> Déconnexion
            </a></li>
        </ul>
    </nav>
</div>

<div th:fragment="navbarResto">
    <img id="banner" th:src="@{/chefs.png}"/>
    <nav class="navbar navbar-expand-lg navbar-dark " style="margin-left:0px;">
        <ul class="nav navbar-nav " style="padding-left:300px">
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur}"><i class="fa fa-user-plus"></i> Accueil </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur/user/list}"><i class="fa fa-user-plus"></i>
                Utilisateurs </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur/restaurant/list}"><i class="fa fa-user-plus"></i>
                Restaurants </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur/reservation/list}"><i
                    class="fa fa-user-plus"></i> Réservations </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur/pays/list}"><i class="fa fa-user-plus"></i> Pays
            </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/restaurateur/villes/list}"><i class="fa fa-user-plus"></i>
                Villes </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fa fa-user-plus"></i> Déconnexion
            </a></li>
        </ul>
    </nav>
</div>







</body>
</html>