<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">
    <div th:replace="fragments :: navbarNotLogged"></div>
    <header>
        <section id="hero" class="d-flex align-items-center">
            <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Bienvenue chez <span>Resthony</span></h1>
                        <h2>Plateforme professionnelle de réservations</h2>
                    </div>
                </div>
            </div>
        </section>
    </header>
<body>

    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resthony</h2>
                <p>Bienvenue</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a th:href="@{/register}"><span>S'inscrire</span></a>
                        <p>Cliquez ici pour avoir vous inscrire et bénéficier des avantages utilisateur</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a th:href="@{/login}"><span>Se connecter</span></a>
                        <p>Cliquez ici pour vous connecter sur votre compte et accéder à vos réservations</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a th:href="@{/visitor/create}"><span>Réserver</span></a>
                        <p>Cliquez ici pour réserver une table dans votre restaurant préféré sans inscription</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->

    <br><br>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>